* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    /* background-color: rgb(17, 73, 119); */
    background: linear-gradient(to right, #308abe, #030b61);
    height: 65px;
    color: white;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    border: 1px solid white;
}

main div {
    border: 1px solid white;
}

#search-area {
    width: 20%;
    margin-top: 19px;
    text-align: center;
}

#weather-area {
    width: 80%;
    padding: 15px;
    margin-top: 2px;
}

#weather-area div {
    border: 1px solid white;
}

form {
    margin-top: 30px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form button {
    background-color: rgb(0, 166, 255);
    height: 40px;
    border-radius: 3px;
}

#buttons-container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#forecast-cards {
display: flex;
justify-content: space-between;
}

.card {
    background-color: rgb(144, 208, 238);
    height: 240px;
    width: 210px;
    padding-top: 0.3cm;
    font-size: 15px;
    line-height: 2.5;
    
}

p {
    margin-left: 0.3cm
}